

.navbar {
    background-color: #0c837d;
}

.top-nav-collapse {
    background-color: #0c837d;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #0c837d;
    }
}
.green-color{
    background-color:#00acc1;
    color:white;
}
.green-color:hover{
    color:white;
}

.green-color:active{
    color:white;
}

.text-green{
    color:#0c837d;
}

html,
body,
header,
.view {
  height: 100%;
}

.wow {
    visibility: hidden;
  }

  .sea{
      background-color: #99daec;
  }